@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@font-face {
    font-family: 'CustomFont';
    /* Give your font a name */
    src: url('path/to/your/font.woff2') format('woff2'),
        /* Specify the font file and format */
        url('path/to/your/font.woff') format('woff');
    /* You can include multiple formats for cross-browser compatibility */
    font-weight: normal;
    /* Font weight (e.g., normal, bold) */
    font-style: normal;
    /* Font style (e.g., normal, italic) */
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}


html,body{
    height: 100%;
    width: 100%;
    
}

.custom-bg{
    background-color:#B9C3CC;
    min-height: 100vh;
    width: 100%;  
    display: flex;
    justify-content: space-between;
  

}










